.app {
    margin: 0 auto;
    padding: 2rem 1rem;
    max-width: 80rem;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-bottom: 2rem;
}

.search-input {
    box-sizing: border-box;
    border-color: hsl(0, 0%, 80%);
    border-radius: 0.4rem;
    border-style: solid;
    border-width: 0.1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    /* width: 100%; */
}

/* .search-year {
    width: 100%;
} */

@media screen and (min-width: 600px) {
    .search {
        flex-direction: row;
    }
    .search-input {
        width: 30%;
        margin-bottom: 0;
    }

    .search-year {
        width: 30%;
    }
}

.logo {
    height: 4rem;
}

.launch-filter {
    font-size: 1rem;
    width: 12rem;
}
.launch-wrapper {
    border: 0.1rem solid #eaeaea;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}
.launch-mission {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 300;
}
.launch-rocket {
    font-size: 1.6rem;
}
.launch-date {
    font-size: 1.2rem;
}
.launch-details {
    font-size: 1.4rem;
}

.loader {
    animation: 2s linear infinite svg-animation;
    max-width: 100px;
    width: 5rem;
}

.loader-circle {
    animation: 1.4s ease-in-out infinite both circle-animation;
    display: block;
    fill: transparent;
    stroke: #2f3d4c;
    stroke-linecap: round;
    stroke-dasharray: 283;
    stroke-dashoffset: 280;
    stroke-width: 10px;
    transform-origin: 50% 50%;
}

@keyframes svg-animation {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes circle-animation {
    0%,
    25% {
        stroke-dashoffset: 280;
        transform: rotate(0);
    }

    50%,
    75% {
        stroke-dashoffset: 75;
        transform: rotate(45deg);
    }

    100% {
        stroke-dashoffset: 280;
        transform: rotate(360deg);
    }
}
