html {
    font-size: 10px;
}
body {
    font-family: 'Cabin', sans-serif;
    background-color: #000000;
    color: #09090a;
}

a {
    text-decoration: none;
    color: #005288;
}

h1 {
    font-size: 2rem;
    font-weight: 300;
}

h2 {
    font-size: 1.8rem;
    font-weight: 300;
}

p {
    font-size: 1.4rem;
    font-weight: 300;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    margin: 0.5rem 0;
}
